.navbar-name {
  color:white;
  background-color:aqua;
  padding: 10px;
  font-size: medium;
  }

body {
  background-color: antiquewhite;
}

.indeximg {
  float: left;
  margin: 20px;
}
.portfolio img {
  padding-bottom:15px;
}
p {
  margin: 10px;
}

.container {

  padding:20px;
  width: 850px;
  height: auto;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 150px;
}

footer {
  position:fixed;
  padding-top: 20px;
  bottom: 0px;
  background-color: aqua;
  text-align: center;
  width: 100%;
  color: white;
}

#submit {
  background-color: rgb(2, 252, 252);
  border: hidden;
}

@media screen and (min-width: 400px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 510px) and (max-width: 992px) {
  .container {
    width: 550px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 750px;
  }
}
